<a href="https://colab.research.google.com/github/ayushridhunde/CODSOFT-/blob/main/Ayushri%204th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
data = pd.read_csv('/content/archive (4).csv')
data.rename(columns={
    "v1": "Status",
    "v2": "Text1",
    "Unnamed: 2": "Text2",
    "Unnamed: 3": "Text3",
    "Unnamed: 4": "Text4"
}, inplace=True)
data

,Status,Text1,Text2,Text3,Text4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [14]:
data.isnull().sum()

Status       0
Text1        0
Text2     5522
Text3     5560
Text4     5566
dtype: int64

In [15]:
# Fill null values with empty string and combine all columns except 'Status' into a new column named "Text"
data['Text'] = (
    data['Text1'].fillna(" ").astype(str) + " " +
    data['Text2'].fillna(" ").astype(str) + " " +
    data['Text3'].fillna(" ").astype(str) + " " +
    data['Text4'].fillna(" ").astype(str)
)

# Drop the original columns after combining
data = data.drop(columns=['Text1', 'Text2', 'Text3', 'Text4'])

# Display the updated data
data

     Status                                               Text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham        Will �_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                   Rofl. Its true to its name

[5572 rows x 2 columns]

In [16]:
data.isnull().sum()

Status    0
Text      0
dtype: int64

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Status  5572 non-null   object
 1   Text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [18]:
data.describe()

       Status                          Text
count    5572                          5572
unique      2                          5169
top       ham  Sorry, I'll call later
freq     4825                            30

In [19]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data["Status"] = le.fit_transform(data["Status"])

data

      Status                                               Text
0          0  Go until jurong point, crazy.. Available only ...
1          0                Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0        Will �_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                   Rofl. Its true to its name

[5572 rows x 2 columns]

In [22]:
y = data['Status']

In [24]:
from sklearn.model_selection import train_test_split
x = data['Text']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

print(x_train.shape)  # Check the shape of x_train dataset
print(y_train.shape)  # Check the shape of y_train dataset
print(x_test.shape)   # Check the shape of x_test dataset
print(y_test.shape)   # Check the shape of y_test datasetvv

(4457,)
(4457,)
(1115,)
(1115,)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english', max_features=5000)
X_train_tfidf = vectorizer.fit_transform(x_train)
X_test_tfidf = vectorizer.transform(x_test)

In [26]:
from sklearn.naive_bayes import MultinomialNB

nb_model = MultinomialNB()
nb_model.fit(X_train_tfidf, y_train)

y_pred_nb = nb_model.predict(X_test_tfidf)

In [27]:
from sklearn.metrics import classification_report, accuracy_score

print("Naive Bayes Classifier:")
print(classification_report(y_test, y_pred_nb))
print("Accuracy:", accuracy_score(y_test, y_pred_nb))

Naive Bayes Classifier:
              precision    recall  f1-score   support

           0       0.97      1.00      0.98       965
           1       1.00      0.80      0.89       150

    accuracy                           0.97      1115
   macro avg       0.98      0.90      0.94      1115
weighted avg       0.97      0.97      0.97      1115

Accuracy: 0.9730941704035875

In [29]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train_tfidf, y_train)
y_pred_lr = lr_model.predict(X_test_tfidf)

In [30]:
from sklearn.metrics import classification_report, accuracy_score
print("\nLogistic Regression Classifier:")
print(classification_report(y_test, y_pred_lr))
print("Accuracy:", accuracy_score(y_test, y_pred_lr))

Logistic Regression Classifier:
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       965
           1       0.97      0.72      0.83       150

    accuracy                           0.96      1115
   macro avg       0.97      0.86      0.90      1115
weighted avg       0.96      0.96      0.96      1115

Accuracy: 0.9596412556053812

In [31]:
from sklearn.svm import SVC
svm_model = SVC()
svm_model.fit(X_train_tfidf, y_train)
y_pred_svm = svm_model.predict(X_test_tfidf)

In [32]:
from sklearn.metrics import classification_report, accuracy_score
print("\nSupport Vector Machine Classifier:")
print(classification_report(y_test, y_pred_svm))
print("Accuracy:", accuracy_score(y_test, y_pred_svm))

Support Vector Machine Classifier:
              precision    recall  f1-score   support

           0       0.97      1.00      0.99       965
           1       0.99      0.83      0.91       150

    accuracy                           0.98      1115
   macro avg       0.98      0.92      0.95      1115
weighted avg       0.98      0.98      0.98      1115

Accuracy: 0.9766816143497757

In [34]:
new_messages = [
    "Congratulations! You've won a free vacation to the Bahamas. Call now to claim your prize!",
    "Hey, are we still on for the meeting tomorrow?",
    "You've been selected for a $1000 shopping spree! Click here to claim your gift card!",
    "Can We meet tomorrow ?"
]
new_messages_tfidf = vectorizer.transform(new_messages)

predictions_nb = nb_model.predict(new_messages_tfidf)
predictions_lr = lr_model.predict(new_messages_tfidf)
predictions_svm = svm_model.predict(new_messages_tfidf)

label_map = {0: 'ham', 1: 'spam'}

for i, message in enumerate(new_messages):
    print(f"Message: {message}")
    print(f"Status :\tNaive Bayes Prediction         : {label_map[predictions_nb[i]]}")
    print(f"       \t\tLogistic Regression Prediction : {label_map[predictions_lr[i]]}")
    print(f"       \t\tSVM Prediction                 : {label_map[predictions_svm[i]]}")
    print("=" * 100)

Message: Congratulations! You've won a free vacation to the Bahamas. Call now to claim your prize!
Status :	Naive Bayes Prediction         : spam
       		Logistic Regression Prediction : spam
       		SVM Prediction                 : spam
====================================================================================================
Message: Hey, are we still on for the meeting tomorrow?
Status :	Naive Bayes Prediction         : ham
       		Logistic Regression Prediction : ham
       		SVM Prediction                 : ham
====================================================================================================
Message: You've been selected for a $1000 shopping spree! Click here to claim your gift card!
Status :	Naive Bayes Prediction         : spam
       		Logistic Regression Prediction : ham
       		SVM Prediction                 : spam
====================================================================================================
Message: Can We meet tomorrow ?
Status :	Naive Bayes Prediction         : ham
       		Logistic Regression Prediction : ham
       		SVM Prediction                 : ham
====================================================================================================